@charset "UTF-8";
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: 'Noto Sans JP',sans-serif;
    color: #333333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 24px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    width: 629px;
    height: 16px;
    margin-right: 24px;
}
header nav ul li a{
    font-family: 'Noto Serif JP',serif;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 16px;
    position: relative;
}
header nav ul li a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -1px;
    background: #b71b26;
    transform: scale(0,1);
    transform-origin: left top;
    transition-duration: 0.5s;
}
header nav ul li a:hover::after {
    transform: scale(1,1);
}
main > p img {
    width: 100%;
    height: 545px;
    object-fit: cover;
    object-position: center 35%;
    margin-bottom: 112px;
}
main section {
    width: 1020px;
    margin: 0 auto;
    margin-bottom: 112px;
}
main section h2 {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Noto Serif JP',serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    line-height: 28px;
    margin-bottom: 16px;
    padding-top: 48px;
}
main section .sub {
    font-size: 16px;
    font-family: 'Noto Serif JP',serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .1em;
    color: #223e69;
    margin-bottom: 50px;
}
main section .sub::before,
main section .sub::after {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #223e69;
}
main section .sub::before {
    margin-right: 5px;
}
main section .sub::after {
    margin-left: 5px;
}
main section h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
}
main #concept p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 32px;
}
main #service ul {
    display: flex;
    justify-content: space-between;
}
.gMenu .menu-btn {
    display: none;
}
main #service ul li {
    width: 300px;
}
main #service ul li img {
    object-fit: contain;
}
main #service ul li h4 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Moto Serif JP',serif;
    margin: 24px;
    text-align: center;
}
main #service ul li p {
    margin-bottom: 16px;
    letter-spacing: .1em;
    line-height: 24px;
}
main #service ul li a{
    display: flex;
    justify-content: flex-end;
}
main #service ul li a::after {
    content: "";
    background-color: #333333;
    margin-top: 7px;
    margin-left: 4px;
    width: 5px;
    height: 9px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
main #flow {
    background-color: #f4f5f7;
    width: 100%;
    padding: 50px 0;
}
main #flow .sub{
    color: #b71b26;
}
main #flow .sub::before,
main #flow .sub::after {
    background-color: #b71b26;
}
main #flow ul {
    width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
main #flow ul li {
    width: 60px;
    height: 280px;
    border-radius: 50px;
    font-size: 28px;
    color: #ffffff;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
main #flow ul div {
    align-self: center;
    width: 30px;
    height: 60px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
main #flow ul .arrow1 {
    background-color: rgba(181, 28, 38, 0.6);
}
main #flow ul .arrow2 {
    background-color: rgba(181, 28, 38, 0.7);
}
main #flow ul .arrow3 {
    background-color: rgba(181, 28, 38, 0.8);
}
main #flow ul .arrow4 {
    background-color: rgba(181, 28, 38, 0.9);
}
main #flow ul .arrow5 {
    background-color: rgba(181, 28, 38, 1);
}
main #flow ul li p {
    writing-mode: vertical-rl;
}
main #qa ol {
    padding: 24px 0;
}
main #qa ol li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
main #qa ol li p {
    font-size: 20px;
    letter-spacing: .1em;
    line-height: 30px;
}
main #qa ol .black::before {
    content: "Q.";
    background-color: #333333;
    color: #ffffff;
    font-size: 34px;
    width: 52px;
    height: 52px;
    margin-right: 8px;
    border-radius: 52px;
    padding: 2px 10px;
    font-family: 'Noto Serif JP',serif;
    text-align: center;
    align-self: flex-start;
}
main #qa ol .red::before {
    content: "A.";
    background-color: #b71b26;
    color: #ffffff;
    font-size: 34px;
    width: 52px;
    height: 52px;
    margin-right: 8px;
    border-radius: 52px;
    padding: 2px 10px;
    font-family: 'Noto Serif JP',serif;
    text-align: center;
    align-self: flex-start;
}
main #contact {
    width: 100%;
    height: 1218px;
    background-color: #dee2e9;
    margin-bottom: 219px;
}
main #contact .sub{
    color: #333333;
}
main #contact .sub::before,
main #contact .sub::after {
    background-color: #333333;
}
main #contact form {
    width: 1020px;
    height: 1000px;
    background-color: #eff1f4;
    margin: 0 auto;
    padding: 48px 0;
}
main #contact form .type,
main #contact form > label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-bottom: 24px;
}
main #contact form .type label {
    margin-right: 40px;
}
main #contact form .type label span {
    margin-left: 4px;
}
main #contact form p,
main #contact form > label p {
    width: 320px;
    height: 24px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: right;
}
main #contact form p span,
main #contact form label p span {
    height: 24px;
    font-size: 14px;
    color: #ffffff;
    background-color: #b71b26;
    border-radius: 8px;
    padding: 2px 10px;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 16px;
    margin-left: 8px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 332px;
    height: 52px;
    background-color: #ffffff;
    margin-left: 12px;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 2px solid #333333;
    outline: 0;
}
main #contact form .add input[type="text"] {
    width: 222px;
    margin: 0;
}
main #contact form .add > span {
    font-size: 20px;
    margin: 0 4px 0 12px;
}
main #contact form .add2 input[type="text"] {
    width: 664px;
}
input[type="radio"] {
    vertical-align: baseline;
    margin-left: 15px;
    transform: scale(1.5);
}
input[type="email"] {
    width: 664px;
}
main #contact form .inq {
    align-self: flex-start;
    padding-right: 3.2em;
}
textarea {
    width: 664px;
    height: 208px;
}
input[type="submit"] {
    width: 300px;
    height: 68px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Noto Serif JP',serif;
    color: #ffffff;
    background-color: #333333;
    padding: 20px 50px;
    margin: 36px 0;
}
input[type="submit"]:hover {
    background-color: rgba(51, 51, 51, 0.8);
}
main #contact form .btn {
    position: relative;
    display: flex;
    justify-content: center;
}
main #contact form .btn::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 10px;
    height: 19px;
    align-self: center;
    left: 597px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.home {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 62px;
    right: 24px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home::before {
    content: "";
    height: 30px;
    width: 30px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: translateY(30%) rotate(-45deg);
}
footer {
    height: 62px;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Noto Serif JP',serif;
    font-size: 14px;
    letter-spacing: .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
@media screen and (max-width: 768px) {
    main section,
    main #flow ul,
    main #contact form {
        width: 100%;
    }
    body {
        font-size: 14px;
    }
    header {
        width: 100vw;
    }
    header h1 {
        margin: 16px 12px;
    }
    header h1 img {
        width: 240px;
    }
    header nav ul {
        width: 100vw;
        display: block;
    }
    header nav ul li {
        margin-top: 40px;
    }
    header nav ul li a {
        margin-bottom: 48px;
    }
    header nav ul li a::after {
        width: 36%;
        left: 120px;
        bottom: -5px;
    }
    main > p img {
        max-width: 100%;
        height: 480px;
        object-position: 52% 0;
        margin-bottom: 60px;
    }
    main section {
        margin-bottom: 80px;
    }
    main section h2 {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 8px;
        padding-top: 0;
    }
    main section .sub {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 24px;
    }
    main section h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    main #concept p {
        margin: 0 auto;
        width: 351px;
        font-size: 14px;
        letter-spacing: .1em;
        line-height: 28px;
        margin-bottom: 20px;
    }
    main #service ul {
        width: 100vw;
        display: block;
    }
    main #service ul li {
        width: 351px;
        margin: 0 auto 48px;
    }
    main #service ul li h4 {
        font-size: 20px;
        margin: 8px 0;
    }
    main #service ul li img {
        width: 351px;
        height: 100%;
    }
    main #service ul li p {
        line-height: 21px;
        margin-bottom: 8px;
    }
    main #service ul li a::after {
        align-self: center;
    }
    main #flow{
        padding: 16px 0;
    }
    main #flow ul {
        display: block;
    }
    main #flow ul li {
        width: 300px;
        height: 32px;
        margin: 0 auto;
        font-size: 16px;
        }
    main #flow ul div {
        width: 16px;
        height: 32px;
        transform: rotate(90deg);
        margin: 0 auto;
    }
    main #flow ul li p {
        writing-mode: horizontal-tb;
    }
    main #qa ol{
        padding: 12px 0;
    }
    main #qa ol li {
        margin: 0 7px;
    }
    main #qa ol li p {
        font-size: 16px;
        line-height: 24px;
    }
    main #qa ol .black {
        margin-bottom: 16px;
    }
    main #qa ol .black::before {
        font-size: 20px;
        width: 32px;
        height: 32px;
        padding: 2px 5px;
    }
    main #qa ol .red {
        margin-bottom: 24px;
    }
    main #qa ol .red::before {
        font-size: 20px;
        width: 32px;
        height: 32px;
        padding: 2px 5px;
    }
    main #contact {
        height: auto;
        padding: 16px 0;
    }
    main #contact form {
        height: auto;
        background-color: #dee2e9;
        padding: 0;
    }
    main #contact form .type {
        display: block;
        justify-content: space-between;
        text-align: center;
        line-height: 14px;
        letter-spacing: .1em;
    }
    main #contact form .type label {
        font-size: 14px;
        letter-spacing: .1em;
        line-height: 14px;
        margin-right: 16px;
    }
    main #contact form > label {
        display: block;
        font-size: 14px;
        margin-top: 0;
    }
    main #contact form .type p,
    main #contact form > label p {
        width: 371px;
        margin: 20px 0 10px 0;
        font-size: 16px;
        text-align: center;
    }
    main #contact form .type p span,
    main #contact form > label p span {
        width: 40px;
        height: 18px;
        font-size: 10px;
        line-height: .1em;
        padding: 1.5px 8px;
        margin: 0;
    }
    main #contact form .inq  {
        padding-right: 0;
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 351px;
        height: 30px;
    }
    main #contact form .add > span {
        font-size: 14px;
        margin: 0 4px 0 12px;
    }
    main #contact form .add input[type="text"] {
        width: 125px;
    }
    main #contact form .add2 p {
        height: 0;
        margin: 0;
        margin-top: -16px;
    }
    main #contact form .add2 input[type="text"] {
        width: 351px;
    }
    textarea {
        height: 120px;
    }
    input[type="submit"] {
        width: 200px;
        height: 48px;
        font-size: 16px;
        padding: 15px 32px 15px 24px;
        margin: 0;
    }
    main #contact {
        margin-bottom: 126px;
    }
    main #contact form .btn::after {
        left: 260px;
        height: 10px;
        width: 6px;
    }
    .home {
        width: 46px;
        height: 46px;
        right: 12px;
        bottom: 44px;
    }
    .home::before {
        height: 20px;
        width: 20px;
    }
    footer {
        height: 45px;
        font-size: 12px;
    }
    /* 以下に参考サイトのメニュー用CSSを貼り付ける */
/* メニューを画面上部に固定表示しています */
.gMenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  /* メニューアイコンを画面右上に固定しています */
  .gMenu .menu-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    padding-top: 5px;
    height: 12px;
  }
  /* メニューアイコン（三本線）の真ん中の線です */
  .gMenu .menu-icon .navicon {
    background: #ffc107; /* 色は自由に変更可能です */
    display: block;
    height: 2px; /* 太さ */
    width: 31px; /* 長さ */
    position: relative;
    transition: .4s ease-out; /* 形が変わる時のアニメーション */
  }
  /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background: #ffc107; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 100%;
  }
  .gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
  .gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
  /* 表示されるメニューです */
  .gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
  }
  /* メニュー部分のデザインです */
  .gMenu .menu li:first-of-type {
    padding-top: 50px;
  }
  .gMenu .menu li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .gMenu .menu li a:hover {
    background-color: #f4f4f4;
  }
  /* チェックボックスは常に非表示です */
  .gMenu .menu-btn {
    display: none;
  }
  /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
  .gMenu .menu-btn:checked ~ .menu {
    max-height: 532px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
    transition: max-height .6s;
  }
  /* メニューボタンの中央の線を非表示に */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
  
  /* メニューボタンの上下の線を45度傾けて✕印を作ります */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
  /* サイトに合わせてオリジナルカスタマイズ */
  .gMenu .menu-icon {
    top: 20px;
  }
  .gMenu .menu-icon .navicon,
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background: #b71b26;
  }
  .gMenu .menu {
    flex-direction: column;
    height: 532px;
  }
  .gMenu .menu li a {
    font-size: 16px;
    font-family: 'Noto Serif JP',serif;
  }
}